@model IEnumerable<Technology.Models.AccountModel>

@{
    ViewBag.Title = "ViewDelete";
}

<h2>ViewDelete</h2>


<table class="table table-bordered table-striped bg-info">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.confirm_password)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.RoleId)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.firstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.confirm_password)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.RoleId)
            </td>
            <td>
                <input type="submit" value="Restore" class="btn btn-primary" onclick="location.href='@Url.Action("Restore", "Account" ,new { id = item.Id})'" />

            </td>
        </tr>
    }

</table>
<div>
    @Html.ActionLink("Back to List", "Index","Appear")
</div>

